<h1>Cart</h1>

<% if !@items.empty? %>

<center>
<table class = "cart-items">
  <tr>
    <th>Item</th>
    <th>Sold By</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
  </tr>
  <% @items.each do |item,quantity| %>
    <tr id= "cart-item-<%=item.id%>">
      <td>
        <p align = "center">
          <span>
            <img align = "center" id="cart-image" src= <%= item.image %>>
            <%=link_to item.name, "/items/#{item.id}" %>
          </span>
        </p>
      </td>
      <td>
        <p align = "center">
          <%=link_to item.merchant.name, "/merchants/#{item.merchant.id}"%>
        </p>
      </td>
      <td>
        <p><%=number_to_currency(item.price)%></p>
      </td>
      <td>
        <center>
          <p><%=quantity%></p>
          <%= form_tag "/cart/#{item.id}/add_quantity", method: :patch do %>
          <p><%= number_field_tag 'quantity', '1', min: 1, max: "#{item.inventory - quantity}" %></p>
          <%= submit_tag 'Update Quantity' %>
          <% end %>
          <%= form_tag "/cart/#{item.id}/decrease-quantity", method: :patch do %>
          <p><%= number_field_tag 'quantity_decrease', '1', min: 1, max: "#{item.inventory - 1}" %></p>
          <%= submit_tag 'Decrease Quantity' %>
          <% end %>
          <p><%= link_to "Remove", "/cart/#{item.id}",method: :delete %></p>
        </center>
        </td>
      <td>
        <p><%=number_to_currency(cart.subtotal(item))%></p>
    </td>
    </tr>
  <% end %>
</table>
  <p>Total: <%= number_to_currency(cart.total) %></p>

  <% if !current_user %>
    <strong>Please <%= link_to "Register", "/users/register" %> or <%= link_to "Login", "/login" %> to finish the checkout process</strong>


  <% else %>
    <p><%= link_to "Checkout", "/orders/new", method: :get %></p>
  <% end %>
  <p><%= link_to "Empty Cart", "/cart", method: :delete %></p>
<% else %>
  <h3 align= "center">Cart is currently empty</h3>
<% end %>
<table>
</center>
