<h1>Admin Dashboard</h1>

<% @users.each do |user| %>
    <%if user.role == "default" || user.role == "merchant" %>
    <ul>
    <section id="user-order-<%=user.id %>">
      <li><%= link_to user.name, "/profile" %></li>
      <% user.orders.each do |order| %>
        <% if order.status == "pending"  %>
          <li><p1>Order Id: <%= order.id %> <%= link_to "Ship Order #{order.id}", "/orders/#{order.id}/ship", method: :patch %></p1></li>
          <li><p1>Order Date: <%= order.created_at %></p1></li>
          <li><p1>Order Status: <%= order.status %></p1></li>
        <% else  %>
          <li><p1>Order Id: <%= order.id %></p1></li>
          <li><p1>Order Date: <%= order.created_at %></p1></li>
          <li><p1>Order Status: <%= order.status %></p1></li>
        <% end %>
      <% end %>
    </ul>
  </section>
    <% end %>
<% end %>
