<h1>Merchant Dashboard</h1>

<%= link_to "View Merchant Items", "/merchants/items" %>

  <div class=merchant-info>
      <h2>Merchant: <%= @merchant.name %></h2>
      <%= @merchant.address %>
      <%= @merchant.city %>
      <%= @merchant.state %>
      <%= @merchant.zip %>
    </div>

  <div class=orders>
 <% @merchant.item_orders.each do |order| %>
  <p>Created on: <%= order.created_at.strftime("%m/%d/%Y") %></p>
   <p>Id: <%= link_to "#{order.order_id}", "/merchant/orders/#{order.order_id}" %></p>
   <p>Total Quantity: <%= order.quantity %> </p>
   <p>Total Value: $<%= order.subtotal %> </p><br>
 <% end %>
  </div>
