<div class='user-info'>
<b>Name:</b> <%= @user.name %><br/>
<b>Email:</b> <%= @user.email %><br/>
<b>Address:</b> <%= @user.address %><br/>
<b>City:</b> <%= @user.city %><br/>
<b>State:</b> <%= @user.state %><br/>
<b>Zip:</b> <%= @user.zip %>
</div>

<% @user.orders.each do |order| %>
<section class = "shipping-address-<%= order.id %>">
  <h1 align = "center">Shipping Info</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Status</th>
    </tr>
    <tr>
      <td><p><%= order.name %> </p></td>
      <td><p><%= order.address %> </p></td>
      <td><p><%= order.city %> </p></td>
      <td><p><%= order.state %> </p></td>
      <td><p><%= order.zip %> </p></td>
      <td><p><%= order.status %> </p></td>
    </tr>
  </table>
</section>
<% end %>

<%= link_to "Edit My Profile", "/profile/#{@user.id}/edit"%><br/>

<%= link_to "Edit My Password", "/password/#{@user.id}/edit"%>
