<div class='user-info'>
<b>Name:</b> <%= @user.name %><br/>
<b>Email:</b> <%= @user.email %><br/>
<b>Address:</b> <%= @user.address %><br/>
<b>City:</b> <%= @user.city %><br/>
<b>State:</b> <%= @user.state %><br/>
<b>Zip:</b> <%= @user.zip %>
</div>

<%= link_to "Edit My Profile", "/profile/#{@user.id}/edit"%><br/>

<%= link_to "Edit My Password", "/password/#{@user.id}/edit"%>