<!DOCTYPE html>
<html>
  <head>
    <title>Monster Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <nav class = "topnav">
      <%= link_to "Welcome Page", "/" %>
      <%= link_to "All Merchants", "/merchants"%>
      <%= link_to "All Items", "/items"%>
      <% if current_admin? != true %>
        <%= link_to "Cart: #{cart.total_items}", "/cart" %>
      <% end %>
      <% if current_merchant?  %>
       <%= "Logged in as #{current_user.name}" %> <br>
       <%= link_to "Profile Page", "/profile" %>
       <%= link_to  "logout", "/logout" %>
       <% if current_uri != @merchant_dash_uri %>
        <%= link_to "Dashboard", 'merchant/dashboard' %>
       <% end %>
      <% elsif current_admin? %>
      <%= "Logged in as #{current_user.name}" %> <br>
      <%= link_to "Profile Page", "/profile" %>
      <%= link_to  "logout", "/logout" %>
      <% if current_uri != @admin_dash_uri %>
       <%= link_to "Dashboard", 'admin/dashboard' %>
      <% end %>
     <% elsif current_user %>
       <%= "Logged in as #{current_user.name}" %> <br>
       <%= link_to "Profile Page", "/profile" %>
       <%= link_to  "logout", "/logout" %>
      <% else %>
       <%= link_to "register", "/users/register" %>
       <%= link_to "login", "/login" %>
      <% end %>
    </nav>

    <% flash.each do |name, msg| %>
      <div class= "<%=name%>-flash">
        <p><%= msg %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
